#container {
    position: relative;
}
#item-01 {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    /* bottom: 0px; */
    /* left: 0px; */
}
#item-02 {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
#item-03 {
    position: sticky;
    top: 30px;
}